<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Little Tiny Website</title>
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<h1>Hello!</h1>
	<ul>
		<li>The time is <b><%= %s nowdate %></b></li>
		<li>This page has been requested <b><%= %lu reqcnt %></b> times since the last server restart</li>
		<li>See this website's <a href="/website.c">source code</a> (a quine!)</li>
		<ul>
			<li>The server is implemented in <b><%= %lu loc %></b> lines of C</li>
			<li>Learn <a href="/howitworks">how it works</a></li>
		</ul>
		<li>Get your <a href="/echoip">IP Address</a></li>
	</ul>

	<hr>
	<a href="https://www.openbsd.org" target="_blank"><img src="/static/powered.gif"></a>
</body>

</html>
